<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">

        <activity
            android:name=".composeui.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ComposeApp">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".basicdatabinding.BasicBindingActivity"
            android:exported="true"
            android:label="@string/app_name"/>
        <activity
            android:name=".onewaydatabinding.OneWayDataBindingActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".databindingwithviewmodel.DatabindingWithViewModelActivity"
            android:exported="true"
            android:label="@string/app_name" />
        <activity
            android:name=".observerfield.DatabindingWithObserverFieldActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name="com.valleytech.databindingdemo.objectdatabinding.ObjectDatabindingActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name="com.valleytech.databindingdemo.livedatabinding.LiveDatabindingActivity"
            android:exported="true"
            android:label="@string/app_name" />

        <activity
            android:name=".recycleview.ui.RecycleViewDataBindingActivity"
            android:exported="true"
            android:label="@string/app_name" />
    </application>

</manifest>